.card{
  // padding: 0.5rem;
  border: solid 1px black;
  flex-basis: 1;
  max-width: 300px;

}

.card-header{
  // width:100%;
  position:absolute;
  color:white;
  >*{
    margin:0;
    background-color: rgba(0,0,0,0.5);

  }
  // top:0.1rem;
  // left:0.1rem;
  h3{
    white-space: wrap;
    max-width:300px;
  }
}


